<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="product" class="product-detail-container">
    <img [src]="product.image" [alt]="product.title" class="product-image" />
    <h1 class="product-title">{{ product.title }}</h1>
    <p class="product-price">{{ product.price | currency:'USD' }}</p>
    <p class="product-description">{{ product.description }}</p>

    <!-- Selección de cantidad -->
    <div class="quantity-selector">
      <p>Cantidad:</p>
      <ion-item>
        <ion-button (click)="decreaseQuantity()">-</ion-button>
        <ion-label>{{ quantity }}</ion-label>
        <ion-button (click)="increaseQuantity()">+</ion-button>
      </ion-item>
    </div>

    <div class="product-rating">
      <ion-icon name="star" *ngFor="let star of getStars(product.rating.rate)"></ion-icon>
      <span>({{ product.rating.count }})</span>
    </div>

    <ion-button expand="full" (click)="addToCart(product)">Agregar al carrito</ion-button>
  </div>
</ion-content>