ion-content {
    --padding-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
  }
  
  ion-list {
    background: transparent;
  }
  
  ion-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
  }
  
  ion-button {
    margin-top: 20px;
  }