<ion-header>
  <ion-toolbar>
    <ion-title>cdmvComerce</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="searchProducts()"
      placeholder="Buscar productos"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedCategory" (ionChange)="filterByCategory()">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngFor="let category of categories" [value]="category">
        <ion-label>{{ category }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-product-card
      *ngFor="let product of filteredProducts"
      [product]="product"
      (click)="goToProductDetail(product.id)"
    ></app-product-card>
  </ion-list>
</ion-content>