/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

:root {
  --ion-color-primary: #ff5722; // Naranja vibrante
  --ion-color-primary-rgb: 255, 87, 34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e04d1e;
  --ion-color-primary-tint: #ff6838;

  --ion-color-secondary: #4caf50; // Verde vibrante
  --ion-color-secondary-rgb: 76, 175, 80;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #439a46;
  --ion-color-secondary-tint: #5eb762;

  --ion-color-tertiary: #3880ff; // Azul vibrante
  --ion-color-tertiary-rgb: 56, 128, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3171e0;
  --ion-color-tertiary-tint: #4c8dff;

  --ion-color-success: #4caf50; // Verde para éxito
  --ion-color-warning: #ffc107; // Amarillo para advertencias
  --ion-color-danger: #f44336; // Rojo para errores
  --ion-color-light: #1e1e1e; // Fondo oscuro
  --ion-color-medium: #333333; // Gris medio
  --ion-color-dark: #121212; // Fondo más oscuro
}

ion-content {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-primary-contrast);
}

ion-toolbar {
  --background: var(--ion-color-light);
  --color: var(--ion-color-primary-contrast);
}

ion-item {
  --background: var(--ion-color-medium);
  --color: var(--ion-color-primary-contrast);
}

ion-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}